<div class="w-100">
    <mat-card class="card shadow p-3 mb-5 bg-white rounded">
      <mat-card-title>
        <h2 class="float-left">Lista de Aliquotas</h2>
        <a class="text-success float-right btn btn-lg rounded-circle rounded-lg" (click)="Novo()"><mat-icon>add_circle_outline</mat-icon></a>
      </mat-card-title>
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="col-12">
          <mat-form-field appearance="legacy">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td class="text-uppercase" mat-cell *matCellDef="let aliquotas"> {{ aliquotas.id }} </td>
            </ng-container>
            <ng-container matColumnDef="percentual">
              <th mat-header-cell *matHeaderCellDef>Percentual %</th>
              <td class="text-uppercase" mat-cell *matCellDef="let aliquotas" suffix="%" mask="percent"> {{ aliquotas.percentual | mask: "percent" }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Não foram encontrados resultados com "{{input.value}}"</td>
            </tr>
            <ng-container matColumnDef="detalhes" >
              <th mat-header-cell *matHeaderCellDef class="text-right"> Ações </th>
              <td mat-cell *matCellDef="let aliquotas" class="text-right">
                <a routerLink="/aliquotas-edit/{{aliquotas.id}}" class="edit">
                    <mat-icon>edit</mat-icon>
                  </a>
                <a (click)="delete(aliquotas.id)" class="delete">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </a>
              </td>
            </ng-container>
          </table>
          <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </div>