<mat-card class="card shadow p-3 mb-5 bg-white rounded">
    <mat-card-title>
        <h2 class="text-center title-card">Editar Aliquota</h2>
        <a class="text-success float-right btn btn-lg rounded-circle rounded-lg" routerLink="/aliquotas-aliq-list">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="formulario" autocomplete="off">

            <div fxLayout="row" fxLayoutAlign="start" fxLayout.lt-md="column">
                <mat-form-field fxFlex="20%" appearance="fill" class="mr-4">
                    <mat-label>Estado de Origem</mat-label>
                <mat-select [(ngModel)]="estado_origem" formControlName="estado_origem">
                        <mat-option *ngFor="let estado of estados" value="{{estado.uf_estado}}">
                            {{estado.nome_estado}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%" appearance="fill" class="mr-4">
                <mat-label>Estado de Destino</mat-label>
            <mat-select [(ngModel)]="estado_destino" formControlName="estado_destino">
                    <mat-option *ngFor="let estado of estados" value="{{estado.uf_estado}}">
                        {{estado.nome_estado}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="20%" appearance="fill" class="mr-4">
            <mat-label>Percentual</mat-label>
            <input matInput id="percentual" formControlName="percentual">
        </mat-form-field>
        <mat-form-field fxFlex="20%" appearance="fill" class="mr-4">
            <mat-label>Aliquota Interna</mat-label>
            <input matInput id="aliquota_interna" formControlName="aliquota_interna">
        </mat-form-field>
        <mat-form-field fxFlex="20%" appearance="fill" class="mr-4">
            <mat-label>Percentual de Participação</mat-label>
            <input matInput id="percentual_participacao" formControlName="percentual_participacao">
        </mat-form-field>
            </div>
        </form>
        <button (click)="salvar()" class="btn btn-success" [disabled]="!formulario.valid"
            onclick="this.disabled = true;">
            <mat-icon>save</mat-icon>
        </button>
    </mat-card-content>
</mat-card>